body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #684a0aa1;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 70px;
    
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 22px;
    transform: translate(-50px,-30px);
}

header nav img {
    height: 150px;
    width: auto;
}
header nav h1{
    transform: translate(-220px,100px);
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #FFD700;
}

.hero {
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 2.5rem;
}

.cta-button {
    background-color: #FFD700;
    color: #333;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #FFD700;
}

#booking-form {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f9;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220311/pngtree-lobby-hotel-five-star-image_990203.jpg");
}

#booking-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#booking-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking-form input {
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#booking-form button {
    padding: 10px 30px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

#booking-form button:hover {
    background-color: #b3fcb4;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #FFD700;
}
